header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/Images/logo.svg", alt="Logo" style="width: 150px; height: 150px")
            .col-9 
                .inner-menu 
                    ul
                        li 
                            a(href="/") Home Page 
                        li  
                            a(href="/topics") Song topics   